<section id="wrapper">
  <ul>
    <li style="font-size: 12px;">&copy; 2021 anthony. </li>
    <!-- <li><a href="/feed.xml">RSS</a></li>
    <li><a href="/feed.json">JSON Feed</a></li> -->
    <!-- <li><a class="u-email" href="mailto:{{ site.email }}" rel="me">Email</a></li> -->
    <script>
      var _hmt = _hmt || [];
      (function() {
        var hm = document.createElement("script");
        hm.src = "https://hm.baidu.com/hm.js?77c96a459dabd3b18ca0916e6dad4582";
        var s = document.getElementsByTagName("script")[0]; 
        s.parentNode.insertBefore(hm, s);
      })();
    </script>
  </ul>
</section>
